<h1 class="text-uppercase text-center">Welcome, <%= Config::USERNAME %>!</h1>
<hr />
<div class="card-columns">
<% @links.each do |link| %>
<a href="<%= link.desc %>">
  <div class="card">
    <% if !link.attachments.empty? %>
        <img class="card-img-top mx-auto d-block" src="<%= link.attachments[0].url %>" alt="Card image cap">
    <% end %>
    <div class="card-body">
      <h4 class="card-title text-center"><%= link.name %></h4>
    </div>
  </div>
</a>
<% end %>
</div>
