<h1 class="text-uppercase text-center">Welcome, <%= Config::USERNAME %>!</h1>
<hr />
<%= render "links" %>
<hr />
<div class="row">
    <div class="col-md-6">
        <%= render "tasks" %>
    </div>
    <div class="col-md-6">
        <%= render "github" %>
    </div>
</div>
