$teal:          #008080;
$cyan:          #006666;
$body-bg:       $teal;
$body-color:    #fff;
// $theme-colors:(
//     dark: #f00
// );
$font-family-sans-serif: "Lato", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
$headings-font-family:   "Montserrat";
$hr-border-color: #FFF;
$hr-border-width: 0.3rem;
@import "bootstrap";
@import url('https://fonts.googleapis.com/css?family=Lato|Montserrat:700');
@import "font-awesome";
// .field_with_errors {
//   @extend .has-danger;
// }
.card-columns {
  @include media-breakpoint-up(md) {
    column-count: 4;
  }
  @include media-breakpoint-up(lg) {
    column-count: 5;
  }
}
.card {
    max-height:10rem;
}
